th,
td {
    padding: 10px;
    border: 1px solid
}

table {
    width: 50%;
    margin: auto;
    margin-top: 300px;
}

th {
    background-color: rgb(252, 252, 236);
}

td {
    background-color: rgb(231, 231, 76);
}

body {
    background-image: url(../imagenes/pinguinos.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}